@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800,800i&subset=latin-ext');

body {
  font-family: 'Open Sans', sans-serif;
  background: #f6d482;
}

#topline {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background: #d43a77;
  display: table;
  border-bottom: solid 1px #d43a77;
  animation: pulsate 1s ease-in-out infinite;
}
@-webkit-keyframes pulsate {
    0%   { box-shadow: 0 0 5px #d43a77; }
    50%  { box-shadow: 5px 5px 10px #d43a77; }
    100% { box-shadow: 0 0 5px #d43a77; }
}

#topline .slogan {
  display: table-cell;
  vertical-align: middle;
  padding: 0 0 0 20px;
  font-weight: 800;
  font-style: italic;
  font-size: 16pt;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  text-align: center;
}

#content {
  padding: 60px 0 0 0;
  text-align: center;
}

#content p {
  text-align: left;
}

#sheep {
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 240px;
  height: 140px;
  background: url('images/sheep_2.png') no-repeat;
  background-position: center center;
}

#logo {
  width: 500px;
}

.slogan:before {
    content: "Radio Limonádový Joe";
    animation: animate infinite 20s;
}
@keyframes animate {
    0% {
        content: "Radio Limonádový Joe";
    }
    33% {
        content: "90,3 FM";
    }
    66% {
        content: "Vyzkoušejte naši vlnu";
    }
}